footer {
  justify-self: end;
  text-align: center;
  background-color: black;
  color: white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer p {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: end;
}

footer a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: end;
  gap: 0.5rem;
}
